

body{
  position: absolute;
  height: 100%;
  width: 100%;
}

.container,
.container_2btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container button {
    margin: 10px 0; /* Add space between buttons */
  }

  .container_2btn {
    margin-top: 5vh;
  }
  
  .container h1 {
    text-align: center;
  }

  h2 {
   margin-left: 40px;
  }
  
  /*Header*/
  .header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h6{
    color: white;
    margin-left: 2vh;
    font-size: 12px;
  }

  h7 {
    color: white;
  margin-left: auto; /* Moves the h7 element to the right */
  margin-right: 2vh;
  }

  back {
    font-size: 20px;
    color: white;
    display: none;
    margin-left: 2vh;
    cursor: pointer;
  }

  me {
    cursor: pointer;
    color: rgb(229, 255, 0);
  }

  /*Selection Parts*/
  .selection {/*display block*/
    width: 100%;
    height: 100%;
  }
  .display_skin {
    margin-top: 10vh;
    width: 400px;
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img_anime_holder {
    width: 350px;
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.anime_pic {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


  .text_holder {
    width: 350px;
    height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start; /* Align items to the left */
  }

  h5 {
    margin-left: 2px;
    font-family: Arial, sans-serif;
  }

  skin_name {
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: rgb(66, 135, 245);
  }
